.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
.editorconfig
**/*.ts
!out/**/*.js
tsconfig.json
.eslintrc.json
node_modules/**/*.map
node_modules/**/*.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
!node_modules/**/package.json
!node_modules/**/README.md
test-example/**/*.vue
npm-debug.log
*.vsix 